h1{
    color: BLACK;
    background-color: green;
}

p{
    font-size: medium;
    font-family: cursive;
    font-weight: bolder;
}

/* seletor */
#listaAlpha{
    list-style-type: disc;
}

ol {
    list-style-type: lower-alpha;
}

table, tr, td {
    border: 2px solid black;
    text-align: center;
    color: red;
}

.btn{
    background-color: green;
    color: yellow;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.btn:hover {
    background-color: blueviolet;
    color: white;

}
.btn::after {
    content: "clique aqui para";
}
.btn::before {
    content: "antes";
}








